RAILS_ENV=development
RAILS_MAX_THREADS=5
RAILS_LOG_LEVEL=debug
DATABASE_NAME=crypto_price_api_development
TEST_DATABASE_NAME=crypto_price_api_test
# DATABASE_HOST=localhost
# DATABASE_PORT=5432
# DATABASE_USERNAME=replace_with_local_postgresql_user
# DATABASE_PASSWORD=replace_with_local_postgresql_password
# DATABASE_URL=postgresql://replace_with_user:replace_with_password@replace_with_host:5432/crypto_price_api_development
# TEST_DATABASE_URL=postgresql://replace_with_user:replace_with_password@replace_with_host:5432/crypto_price_api_test
COINGECKO_API_KEY=replace_with_your_coingecko_api_key
